@model List<MeloStats.Services.TrackInfo>

<h1>Top Tracks</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td>@track.Name</td>
                    <td>@track.Artist</td>
                    <td>@track.Album</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No top tracks found.</p>
}

