@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Tracks" asp-action="TopTracks" class="btn btn-primary">View Top Tracks</a>
    <a asp-controller="Tracks" asp-action="RecentTracks" class="btn btn-primary">View Your Recent Listened Tracks</a>
}
else
{
    <p>Welcome to MeloStats! Please sign in to view your top tracks.</p>
}
