@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button class="dropbtn">View Your Top Artists</button>
        <div class="dropdown-content">
            <a asp-controller="Artists" asp-action="TopArtists" asp-route-timeRange="short_term" class="dropdown-item">Last 4 weeks</a>
            <a asp-controller="Artists" asp-action="TopArtists" asp-route-timeRange="medium_term" class="dropdown-item">Last 6 months</a>
            <a asp-controller="Artists" asp-action="TopArtists" asp-route-timeRange="long_term" class="dropdown-item">Last year</a>
        </div>
        &nbsp
    </div>
    <div class="dropdown">
        <button class="dropbtn">View Your Top Tracks</button>
        <div class="dropdown-content">
            <a asp-controller="Tracks" asp-action="TopTracks" asp-route-timeRange = "short_term" class="dropdown-item">Last 4 weeks</a>
            <a asp-controller="Tracks" asp-action="TopTracks" asp-route-timeRange = "medium_term"  class="dropdown-item">Last 6 months</a>
            <a asp-controller="Tracks" asp-action="TopTrcaks" asp-route-timeRange = "long_term"  class="dropdown-item">Last year</a>
        </div>
        &nbsp
    </div>
        <a asp-controller="Tracks" asp-action="RecentTracks" class="dropbtn">View Your Recent Listened Tracks</a>
    
}
else
{
    <p>Welcome to MeloStats! Please sign in to view your top tracks.</p>
}
