@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    
}
else
{
    <p>Welcome to MeloStats! Please sign in to view your top tracks.</p>
}
