@model MeloStats.Services.TrackInfo

@{
    ViewBag.Title = "Track Details";
}

<h2>Track Details</h2>

<div>
    <h3>@Model.Name</h3>
    <p>Artist: @Model.Artist</p>
    <p>Album: @Model.Album</p>
</div>

